<main class="asistentes contenedor">
    <h1><%= pagina %></h1>
    <div class="informacion-usuario">
        <div class="imagen"> 
            <% if (usuario.imagen) { %>
                <img class="rounded-circle" src="/uploads/<%= usuario.imagen %>">
            <% }else{ %>
                <img class="rounded-circle" src="/img/no-avatar.png" width="15%">
            <% } %>
            
        </div>
        <div class="texto">
            <ul>
                <li><p>Nombre: <%= usuario.nombre %></p></li>
                <li><p>Email: <%= usuario.email %></p></li>
            </ul>
        </div>
        <form action="/eliminarCuenta" method="post" class="default-form">
        <input type="hidden" name="_csrf" value= <%=csrfToken%>>
            <input type="submit" class="btn btn-danger" value="Eliminar Cuenta">
        </form>
    </div><!--info usuario-->
</main>